@import url("../style.css");

.hero-page{
    height: 100vh;
}
.hero-page .nav-top{
   width: 100%;
   height: 30px;
   background: #232323;
   color: #cdcdcd;
   display: flex;
   justify-content: space-between;
   padding-top: 3px;
   font-family: 'PT Sans', sans-serif;
}
.hero-page .nav-top .top-left span{
   color: #219EBC;
}
.hero-page .nav-top .top-right a{
   color: #219EBC;
   text-decoration: none;
}

/* navbar start*/
.hero-page nav{
   height: 4.4rem;
   width: 100%;
   background-color: transparent;
   /* box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2); */
   position: absolute;
   display: flex;
   z-index: 999;
}

/*Styling logo*/
.hero-page .logo{
   padding:1vh 1vw;
   text-align: center;
}
.hero-page .logo img {
   
   width: 120px;
}

/*Styling Links*/
.hero-page .nav-links{
   display: flex;
   list-style: none; 
   width: 100vw;
   padding: 0 0.8vw;
   margin-top: 10px;
   align-items: center;
   text-transform: uppercase;
}
.hero-page .nav-links li a{
   text-decoration: none;
   margin: 0 0.8vw;
   color: #cdcdcd;
   font-weight: 400;
   font-family: 'Open Sans', sans-serif;
}
.hero-page .nav-links li a:hover {
   color: #61DAFB;
}
.hero-page .nav-links li {
   position: relative;
   color: #cdcdcd;
}
.nav-links li a::before {
   content: "";
   display: block;
   height: 3px;
   width: 0%;
   background-color: #61DAFB;
   position: absolute;
   top: 22px;
   transition: all ease-in-out 250ms;
   margin: 0 0 0 10%;
}
.hero-page .nav-links li a:hover::before{
   width: 80%;
}
.hero-page .right-nav{
   margin-left: 300px;
   margin-right: 5px;
}

/*Styling Buttons*/
.hero-page .login-button{
   background-color: transparent;
   border: #cdcdcd 1px solid;
   border-radius: 15px;
   padding: 0 0.8rem;
   font-size: 1rem;
   cursor: pointer;
   color: #cdcdcd;
}
.hero-page .login-button:hover {
   color: #131418;
   background-color: #f2f5f7;
   transition: all ease-in-out 350ms;
}
.hero-page .join-button{
   color: #131418;
   background-color: #61DAFB;
   border: 1.5px solid #61DAFB;
   border-radius: 2em;
   padding: 0 0.8rem;
   font-size: 1rem;
   cursor: pointer;
}
.hero-page .join-button:hover {
   color: #f2f5f7;
   background-color: transparent;
   border:1.5px solid #f2f5f7;
   transition: all ease-in-out 350ms;
}

/*Styling Hamburger Icon*/
.hero-page .hamburger div{
   width: 30px;
   height:3px;
   background: #f2f5f7;
   margin: 5px;
   transition: all 0.3s ease;
}
.hero-page .hamburger{
   display: none;
}

/*Stying for small screens*/
@media screen and (max-width: 800px){
   .hero-page nav{
       position: fixed;
       z-index: 3;
   }
   .hero-page .hamburger{
       display:block;
       position: absolute;
       cursor: pointer;
       right: 5%;
       top: 50%;
       transform: translate(-5%, -50%);
       z-index: 2;
       transition: all 0.7s ease;
   }
   .hero-page .nav-links{
       position: fixed;
       background: #fff;
       color: #000 !important;
       height: 100vh;
       width: 100%;
       flex-direction: column;
       clip-path: circle(50px at 90% -20%);
       -webkit-clip-path: circle(50px at 90% -10%);
       transition: all 1s ease-out;
       pointer-events: none;
   }
   .hero-page .nav-links.open{
       clip-path: circle(1000px at 90% -10%);
       -webkit-clip-path: circle(1000px at 90% -10%);
       pointer-events: all;
   }
   .hero-page .nav-links li{
       opacity: 0;
   }
   .hero-page .nav-links li:nth-child(1){
       transition: all 0.5s ease 0.2s;
   }
   .hero-page .nav-links li:nth-child(2){
       transition: all 0.5s ease 0.4s;
   }
   .hero-page .nav-links li:nth-child(3){
       transition: all 0.5s ease 0.6s;
   }
   .hero-page .nav-links li:nth-child(4){
       transition: all 0.5s ease 0.7s;
   }
   .hero-page .nav-links li:nth-child(5){
       transition: all 0.5s ease 0.8s;
   }
   .hero-page .nav-links li:nth-child(6){
       transition: all 0.5s ease 0.9s;
       margin: 0;
   }
   .hero-page .nav-links li:nth-child(7){
       transition: all 0.5s ease 1s;
       margin: 0;
   }
   .hero-page li.fade{
       opacity: 1 !important;
   }
}
/*Animating Hamburger Icon on Click*/
.hero-page .toggle .line1{
   transform: rotate(-45deg) translate(-5px,6px);
}
.hero-page .toggle .line2{
   transition: all 0.7s ease;
   width:0;
}
.hero-page .toggle .line3{
   transform: rotate(45deg) translate(-5px,-6px);
}
/* navbar end */
.hero-page .hero-title{
    width: 100%;
    height: 50%;
    background-image: url("../services/assets/bg-3.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.hero-page .hero-title .layer .heading{
    width: 250px;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 20px;
    color: #fff;
    border: #fff solid 2px;
    font-family: 'PT Sans Narrow', sans-serif;
    padding: 5px 7px;
}
.hero-page .hero-body .hero-content{
    text-align: center;
    margin-top: 100px;
    color: #023047;
}
.hero-page .hero-body .hero-content h1{
    font-family: 'EB Garamond', serif;
    font-size: 4rem;
}
.hero-page .hero-body .hero-content h3{
    font-family: 'Satisfy', cursive;
}
.hero-page .hero-body .hero-content a{
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    background-color:#232323;
}

.service-page-1{
    width: 100%;
    height: 100vh;
    padding-top: 150px;
}
.service-page-2{
    width: 100%;
    height: 100vh;
    padding-top: 150px;
}
.service-page-3{
    width: 100%;
    height: 100vh;
    padding-top: 150px;
}

.service-page-1 h1,
.service-page-2 h1,
.service-page-3 h1{
    font-family: 'Open Sans', sans-serif;
}
.service-page-1 p,
.service-page-2 p,
.service-page-3 p{
    font-family: 'Poppins', sans-serif;
    text-align: justify;
    padding-right: 50px;
    margin-top: 40px;
}

.project-page{
    /* height: 100%; */
    /* padding-top: 150px; */
    /* background-color: #ddd; */
    position: relative;
    height: 100vh;
}


.tabs {
   margin-top: 80px;
   position: absolute;
   top:50%;
   left: 50%;
   transform: translate(-50%,-50%);
   width: 80%;
   height: 500px;
   background: #f5f5f5;
   padding: 20px 30px;
   overflow-y: scroll;
   border-radius: 20px;
   box-shadow: 5px 10px 5px #ccc;
   text-align: center;
}

label, #slider {
  display: inline-block;
  font-weight: 500;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  /* background: purple; */
  color: #AAA;
  width: auto;
  height: auto;
  padding: 20px 30px;
}

label:hover {
  color: #00acee;;
  cursor: pointer;
}

.tabs [type=radio] {
  display: none;   
}

.content {
  position: absolute;
  top: 100px; right: 0; bottom: 0; left: 0;
  background: white;
  padding: 20px;
  /* box-shadow: inset 0px 5px 5px -5px; */
  /* display: none; */
   opacity: 0;
   margin-top:5px;
   transform: scale(0.9);
   transition: opacity 500ms ease-in-out 0ms, transform 500ms ease-in-out 0ms;
}

#slider {
  background-color: transparent;
  position: absolute;
  border-bottom: 3px solid #00acee;
  border-radius:5px;
  margin: 7px 10px;
  transform: translate(-598px, 0px);
  transition: transform 500ms ease-in-out 0ms;
  width: 130px;
}

/* [type=radio],#r1:checked ~ #slider {
  transform: translate(-700px, 0px);
  
} */

[type=radio],#r1:checked ~ #slider {
  transform: translate(-600px, 0px);
  width: 130px;
}

[type=radio],#r2:checked ~ #slider {
  transform: translate(-425px, 0px);
  width: 250px;
}
[type=radio],#r3:checked ~ #slider {
   transform: translate(-130px, 0px);
   width: 95px;
 }

[type=radio]:checked + label {
  color: #00acee;
}

[type=radio]:checked + label + .content {
  display: inline-block;
  opacity: 1;
  transform: scale(1);
  margin-top:0px;
}
.grid {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-auto-rows: 180px;
   grid-gap: 8px;
 }
 
 .grid-item {
   background-color: rgb(109, 228, 188);
 }
 
 .grid-item:nth-child(8n+1),
 .grid-item:nth-child(8n+3),
 .grid-item:nth-child(8n+5),
 .grid-item:nth-child(8n+6) {
   grid-row: span 2;
   background-color: rgb(111, 111, 228);
 }

 .footer-page{
    margin-top: 100px;
    width: 100%;
    height: 50%;
    color: #fff;
    background: #232323;
 }
 .footer-page .row h3{
    font-family: 'EB Garamond', serif;
    /* font-weight: bold; */
    text-transform: uppercase; 
 }
 .footer-page .row .social-link h3 span{
    color: #219EBC;
 }
 .footer-page .row .social-link p{
    font-family: 'PT Sans', sans-serif;
    color: #cdcdcd;
 }
 .footer-page .row .social-link a{
    text-decoration:none;
    border: none; 
 }
 .footer-page .row .useful-link h4{
    font-family: 'Open Sans', sans-serif;
 }
 .footer-page .row .useful-link a{
    text-decoration:none;
    color: #cdcdcd;
    font-size: 1.1rem;
    line-height: 30px;
    font-family: 'PT Sans', sans-serif;
 }
 .footer-page .row .useful-link a:hover{
    color: #219EBC;
 }
 .footer-page .row .contact-data h4{
    font-family: 'Open Sans', sans-serif;
 }
 .footer-page .row .contact-data dl dt{
    color: #219EBC;
    font-family: 'Open Sans', sans-serif;
 }
 .footer-page .row .contact-data dl dd{
    color: #cdcdcd;
    font-family: 'PT Sans', sans-serif;
 }


